{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>products</title>
    <link rel="stylesheet" type ="text/css" href="{% static 'prod.css' %}">
</head>
<body>
    <section>
        <div class="colheader">
            <h1>welcome to my <span>e</span>shop</h1>
            <p>shop<a href="/products"> 
                <span>here</span></a></p>
        </div>
    </section>

  
 
</body>
</html>