{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>products</title>
    <link rel="stylesheet" type ="text/css" href="{% static 'prod.css' %}">
</head>
<body>
      <header>
          <div class="colheader">
            <h1>welcome to my <span>e</span>shop</h1>
        </div>
      </header>
      
    

    <section>
           {% for product in products %}
        <div class="product">
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
            <h2>{{ product.name }}</h2>
            <p>{{ product.description }}</p>
            <p>Price: {{ product.price }}</p>
            <p>Size: {{ product.size }}</p>
           

        </div>
    {% endfor %}
    {% if not products %}
        <p>No products available.</p>
    {% endif %}

    
 
</body>
</html>